* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
html {
    width: 1020px;
    margin: 0 auto;
    font-size: 10px;
    font-family: "Lato", "Verdana", sans-serif;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

header {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.header__flex {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__text {
    text-decoration: none;    
}

h1 {
    color: #ffffff;
    text-transform: uppercase; 
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.5px;
}

span {
    color: #f06c64;
}

.navigation {
    display: flex;
    width: 371px;
    justify-content: space-between;
    list-style: none;
    padding-top: 9px;
}

.navigation__item {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation__item:hover {
    color: #f06c64;
}

.navigation__dot {
    color: #666d89;
}

.slider-block {
    height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.wrapper__slider-block {
    position: relative;
}

.left-arrow {
    position: absolute;
    left: 1px;
    top: 281px;
}
.verphone {
    position: absolute;
    top: 53px;
    left: 72px;
}

.gorphone {
    position: absolute;
    top: 174px;
    right: 71px;
}

.right-arrow {
    position: absolute;
    right: 1px;
    top: 281px;
}

img:hover {
    cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

.our-services-block {
    height: 500px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.title {
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding-top: 60px;
    letter-spacing: -0.001em;
}

.description {
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    padding-top: 18px;
    padding-bottom: 46px;
    line-height: 3rem;
    letter-spacing: 0.1px;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
}

.layout-2-column {
    display: flex;
    justify-content: space-between;
}

.our-services-block__blocs {
    width: 300px;
}

.layout-3-column__desciption {
    width: 220px;
}

.layout-3-column__title {
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: -3px;
}

.our-services-block__img {
    align-self: start;
}

.layout-3-column__text {
    height: 65px;
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-top: 7px;
    margin-bottom: 31px;
    text-align: justify;
    overflow: hidden;
}

  

  
  .title {
    color: #666d89;
    font-size: 3rem;
    font-weight: 900;
  }
  
  .subtitle {
    color: #767e9e;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
  }
  

  
  .layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .layout-3-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .employee__socials {
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin-top: 23px;
  }
  
  .soc-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #666d89;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
  }
  
  .soc-icon:hover {
    transform: rotateY(360deg);
    filter: hue-rotate(140deg);
  }
  
  .soc-icon__facebook {
    background-image: url(assets/img_2/soc_icons/facebook.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .soc-icon__google {
    background: url(assets/img_2/soc_icons/google.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .soc-icon__twitter {
    background: url(assets/img_2/soc_icons/twitter.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .soc-icon__linkedin {
    background: url(assets/img_2/soc_icons/linkedin.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .portfolio {
    background: #2d303a;
    padding-bottom: 46px;
    border-bottom: 6px solid #323746;
  }
  
  .portfolio__subtitle {
    margin-top: 18px;
  }
  
  .portfolio__list {
    display: flex;
    list-style: none;
    margin: 11px 0;
  }
  
  .portfolio__item {
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 2px 5px 3px 7px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    color: #767e9e;
    cursor: pointer;
  }
  
  .portfolio__item:hover {
    border-color: #c5c5c5;
    color: #c5c5c5;
  }
  
  .portfolio__images {
    margin-top: 19px;
    height: 621px;
    overflow: hidden;
  }
  
  .portfolio__image {
    margin-bottom: 20px;
  }
  
  .about-us {
    padding-bottom: 67px;
    border-bottom: 6px solid #ffffff;
    background: #f2f2f2;
  }
  
  .about-us__subtitle {
    margin-top: 18px;
    text-align: justify;
  }
  
  .about-us__employees {
    margin-top: 44px;
  }
  
  .employee {
    width: 300px;
  }
  
  .employee__name {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 3rem;
    color: #666d89;
    margin-top: 9px;
    margin-left: -1px;
    white-space: nowrap;
  }
  
  .employee__text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #767e9e;
    margin-top: 4px;
    word-spacing: -1px;
  }
  
 



.get-a-quote {
    background-color: #f06c64;
    padding: 60px 0 50.5px;
    border-bottom: 6px solid #ea676b;
}

.get-a-quote__title {
    font-weight: 900;
    font-size: 3rem;
    color: #f0d8d9;
}

.get-a-quote__description {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
    color: #f0d8d9;
    padding: 17px 0 42px;
}

.layout-2-column {
    display: flex;
    justify-content: space-between;
}

form {
    width: 620px;
    position: relative;
}

form>* {
    width: 100%;
    background-color: #d6564f;
    padding: 12px 14px;
    color:#f48c8f;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    margin: 2px 0 14px;
}

form>*:hover {
    background-color: #f0d8d9;
}

form>*:focus {
    background-color: #f0d8d9;
    border: none;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #f48c8f;
    font-family: "Lato", "Verdana", sans-serif;
}

textarea {
    resize: none;
    padding-top: 10px;
    height: 203px;
}

button {
    position: absolute;
    width: 120px;
    bottom: 2px;
    right: -150px;
    text-transform: uppercase;
    transition: 0.6s;
}

button:hover {
    background-color: #2d303a;
    cursor: pointer;
    color: #f06c64;
}

.contact-information {
    width: 300px;
}

.contact-information__title {
    color: #f0d8d9;
    font-size: 1.8rem;
    font-weight: 900;
}

.contact-information__describtion {
    color: #f0d8d9;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 8px 0 23px;
    text-align: justify;
}

.contact-information__contacts {
    color: #f0d8d9;
    font-size: 1.2rem;
}

.contact-information__contacts p {
    display: inline-block;
}

a {
    color: #f0d8d9;
}

a:active {
    color: #f0d8d9;
}

.for-contact-icon {
    display: inline-block;
    width: 13px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 7px;
}

footer {
    background-color: #2d303a;
    padding: 0px 0 22px;
    color: #666d89;
    line-height: 2.2rem;
    font-size: 1.2rem;
}

.copyright {
    display: inline-flex;
    align-items: center;
    color: #666d89;
    padding-top: 21px;
    letter-spacing: -0.1px;
}

.employee__socials {
    display: flex;
    justify-content: space-between;
    width: 152px;
  }
  
  .soc-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
  }
  
  .soc-icon:hover {
    transform: rotateY(360deg);
    filter: hue-rotate(140deg);
  }
  
  .soc-icon__facebook {
    background-image: url(assets/img_3/soc_icons/facebook.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .soc-icon__google {
    background: url(assets/img_3/soc_icons/google.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .soc-icon__twitter {
    background: url(assets/img_3/soc_icons/twitter.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .soc-icon__linkedin {
    background: url(assets/img_3/soc_icons/linkedin.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }  